<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobi.Plugin.AudioPane.Settings_KeyGestures" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tobi.Plugin.AudioPane.Settings_KeyGestures>
            <setting name="Keyboard_Focus_Audio" serializeAs="String">
                <value>[ NONE ] F7</value>
            </setting>
            <setting name="Keyboard_Focus_StatusBar" serializeAs="String">
                <value>[ NONE ] F4</value>
            </setting>
            <setting name="Keyboard_Audio_Delete" serializeAs="String">
                <value>[ NONE ] Delete</value>
            </setting>
            <setting name="Keyboard_Audio_InsertFile" serializeAs="String">
                <value>[ CTRL ] I</value>
            </setting>
            <setting name="Keyboard_Audio_OpenFile" serializeAs="String">
                <value>[ SHIFT CTRL ] O</value>
            </setting>
            <setting name="Keyboard_Audio_GotoBegin" serializeAs="String">
                <value>[ NONE ] Home</value>
            </setting>
            <setting name="Keyboard_Audio_GotoEnd" serializeAs="String">
                <value>[ NONE ] End</value>
            </setting>
            <setting name="Keyboard_Audio_StepBack" serializeAs="String">
                <value>[ CTRL ] Left</value>
            </setting>
            <setting name="Keyboard_Audio_StepForward" serializeAs="String">
                <value>[ CTRL ] Right</value>
            </setting>
            <setting name="Keyboard_Audio_FastForward" serializeAs="String">
                <value>[ CTRL ] Decimal</value>
            </setting>
            <setting name="Keyboard_Audio_Rewind" serializeAs="String">
                <value>[ CTRL ] OemComma</value>
            </setting>
            <setting name="Keyboard_Audio_ClearSelection" serializeAs="String">
                <value>[ CTRL ] Space</value>
            </setting>
            <setting name="Keyboard_Audio_ZoomSelection" serializeAs="String">
                <value>[ SHIFT CTRL ALT ] Add</value>
            </setting>
            <setting name="Keyboard_Audio_FitFull" serializeAs="String">
                <value>[ SHIFT CTRL ] W</value>
            </setting>
            <setting name="Keyboard_Audio_StartRecord" serializeAs="String">
                <value>[ SHIFT CTRL ] R</value>
            </setting>
            <setting name="Keyboard_Audio_StopRecord" serializeAs="String">
                <value>[ CTRL ] Space</value>
            </setting>
            <setting name="Keyboard_Audio_StartMonitor" serializeAs="String">
                <value>[ CTRL ] R</value>
            </setting>
            <setting name="Keyboard_Audio_StopMonitor" serializeAs="String">
                <value>[ CTRL ] R</value>
            </setting>
            <setting name="Keyboard_Audio_Play" serializeAs="String">
                <value>[ NONE ] Space</value>
            </setting>
            <setting name="Keyboard_Audio_Pause" serializeAs="String">
                <value>[ NONE ] Space</value>
            </setting>
            <setting name="Keyboard_Audio_PlayPreviewLeft" serializeAs="String">
                <value>[ SHIFT CTRL ] P</value>
            </setting>
            <setting name="Keyboard_Audio_PlayPreviewRight" serializeAs="String">
                <value>[ SHIFT CTRL ALT ] P</value>
            </setting>
            <setting name="Keyboard_Audio_ShowOptions" serializeAs="String">
                <value>[ SHIFT CTRL ALT ] F6</value>
            </setting>
            <setting name="Keyboard_Audio_SelectAll" serializeAs="String">
                <value>[ CTRL ] A</value>
            </setting>
            <setting name="Keyboard_Audio_BeginSelection" serializeAs="String">
                <value>[ CTRL ] Oem4</value>
            </setting>
            <setting name="Keyboard_Audio_EndSelection" serializeAs="String">
                <value>[ CTRL ] Oem6</value>
            </setting>
            <setting name="Keyboard_Audio_SelectPreviousChunk" serializeAs="String">
                <value>[ SHIFT CTRL ] Oem4</value>
            </setting>
            <setting name="Keyboard_Audio_SelectNextChunk" serializeAs="String">
                <value>[ SHIFT CTRL ] Oem6</value>
            </setting>
        </Tobi.Plugin.AudioPane.Settings_KeyGestures>
    </userSettings>
</configuration>