<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobi.Plugin.StructureTrailPane.Settings_KeyGestures" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tobi.Plugin.StructureTrailPane.Settings_KeyGestures>
            <setting name="Keyboard_StructureSelectUp" serializeAs="String">
                <value>[ SHIFT CTRL ALT ] UpArrow</value>
            </setting>
            <setting name="Keyboard_StructureSelectDown" serializeAs="String">
                <value>[ SHIFT CTRL ALT ] DownArrow</value>
            </setting>
        </Tobi.Plugin.StructureTrailPane.Settings_KeyGestures>
    </userSettings>
</configuration>