.listtagged lh { font-weight: bold; text-decoration: underline; }

.listtags .listtagged lh { font-weight: normal; } 
.listtags .listtagged ul { margin: 0px; padding: 0px; }

#content ul.tags {
	float: right;
	list-style: none;
	text-align: center;
	max-width: 20em;
}
#content .tags li { display: inline; text-align: center; }

#content .tags lh {
	font-weight: bold;
	font-size: large;
	text-align: center;
	color: #ccc;
	text-transform: lowercase;
	letter-spacing: 0.5em;
	display: block;
}

ul.tagcloud { list-style: none; }
.tagcloud li { display: inline; }
.tagcloud li:after { content: ", "; }
.tagcloud li.last:after { content: ""; }

#expression {
	float: right;
	clear: both;
	font-size: 10px;
	height: 2.2em;
	margin: 0 0 2em 2em;
	text-align: right;
}
#expression input { font-size: 10px }
#expression label { display: none }
#expression-error {
	color: #a00;
	font-size: 11px;
	margin: 0.3em 0;
}
