<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobi.Plugin.ToolBars.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tobi.Plugin.ToolBars.Settings>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolBarColor1" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="ToolBarColor2" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="ToolBarColor3" serializeAs="String">
                <value>#FFFF00FF</value>
            </setting>
            <setting name="ToolBarColor4" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </Tobi.Plugin.ToolBars.Settings>
    </userSettings>
</configuration>