<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobi.Plugin.NavigationPane.Settings_KeyGestures" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tobi.Plugin.NavigationPane.Settings_KeyGestures>
            <setting name="Keyboard_Focus_Nav" serializeAs="String">
                <value>[ NONE ] F6</value>
            </setting>
            <setting name="Keyboard_Nav_TOCFindNext" serializeAs="String">
                <value>[ NONE ] F3</value>
            </setting>
            <setting name="Keyboard_Nav_TOCFindPrev" serializeAs="String">
                <value>[ SHIFT ] F3</value>
            </setting>
            <setting name="Keyboard_Nav_PageFindNext" serializeAs="String">
                <value>[ CTRL ] F3</value>
            </setting>
            <setting name="Keyboard_Nav_PageFindPrev" serializeAs="String">
                <value>[ SHIFT CTRL ] F3</value>
            </setting>
        </Tobi.Plugin.NavigationPane.Settings_KeyGestures>
    </userSettings>
</configuration>