<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobi.Plugin.Urakawa.Settings_KeyGestures" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tobi.Plugin.Urakawa.Settings_KeyGestures>
            <setting name="Keyboard_Open" serializeAs="String">
                <value>[ CTRL ] O</value>
            </setting>
            <setting name="Keyboard_Close" serializeAs="String">
                <value>[ CTRL ] W</value>
            </setting>
            <setting name="Keyboard_Undo" serializeAs="String">
                <value>[ CTRL ] Z</value>
            </setting>
            <setting name="Keyboard_Redo" serializeAs="String">
                <value>[ CTRL ] Y</value>
            </setting>
            <setting name="Keyboard_Save" serializeAs="String">
                <value>[ CTRL ] S</value>
            </setting>
            <setting name="Keyboard_Export" serializeAs="String">
                <value>[ CTRL ] E</value>
            </setting>
            <setting name="Keyboard_SaveAs" serializeAs="String">
                <value>[ SHIFT CTRL ] S</value>
            </setting>
        </Tobi.Plugin.Urakawa.Settings_KeyGestures>
    </userSettings>
</configuration>