<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobi.Plugin.DocumentPane.Settings_KeyGestures" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tobi.Plugin.DocumentPane.Settings_KeyGestures>
            <setting name="Keyboard_Focus_Doc" serializeAs="String">
                <value>[ NONE ] F6</value>
            </setting>
            <setting name="Keyboard_Doc_Event_SwitchPrevious" serializeAs="String">
                <value>[ CTRL ] J</value>
            </setting>
            <setting name="Keyboard_Doc_Event_SwitchNext" serializeAs="String">
                <value>[ CTRL ] K</value>
            </setting>
        </Tobi.Plugin.DocumentPane.Settings_KeyGestures>
    </userSettings>
</configuration>